/* Colors */

:root {
  --white: #ffffff;
  --offwhite: #fcfcfc;
  --lightgray: #cccccc;
  --gray: #d2d2d2;
  --medgray: #777777;
  --darkgray: #444444;
  --deepgray: #292929;
  --black: #333333;

  --paleblue: #E3EAF1;
  --blue: #0082be;
  --lightblue: #5DB9F1;
  --yellow: #f39f2b;
  --green: #39af4c;
  --red: #e81e25;

  --gold: rgba(192, 172, 117, 1);
  --ltgold: rgba(192, 172, 117, .25);
}
