/* Components */

@media only screen and (min-width : 1024px) {

  body > div:first-of-type, .Blog-body {
    display: flex;
    flex-direction: column;
  }

  body > div:first-of-type {
    min-height: 100vh;
  }

  .Blog-body {
    flex: 1;
  }
}

.Blog-body {
  font-size: 1.8rem;
  padding: 0;
}

.Blog-content {
  margin: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.Blog-nav, .Blog-aside {
  padding: 1em;
  border-radius: 3px;
}

.Blog-nav {
  line-height: 2em;
  background-color: var(--ltgold);
}

.Blog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Blog-nav-list-item {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  line-height: 1.5em;
  font-size: .85em;
}

.Blog-excerpt {
  margin-bottom: 2em;
}

.Blog-tags, .Blog-excerpt-tags {
  margin: 0;
  padding: 0;
  float: right;
  width: 80%;
  text-align: right;
}

.Blog-tags-item, .Blog-excerpt-tags-item {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;

  .u-button {
    font-size: 80%;
    padding: .75rem;
    background-color: var(--gray);
    line-height: 1rem;
  }
}

.Blog-tags.u-align-center {
  float: none;
  width: 75%;
  margin: 1em 12.5%;
  text-align: center;

  li.Blog-tags-item {
    float: none;
    display: inline-block;
    width: auto;
    line-height: 1.5rem;

    a.u-button--lg {
      padding: 1rem;
    }
  }
}

.Blog-list {
  line-height: 1.25em;
}

.Blog-list-date {
  width: 25%;
  float: left;
  margin: .75rem 0;
  font-size: 1.25rem;
  line-height: 2rem;
}

.Blog-list-link {
  margin-left: 25%;
  margin-bottom: 1em;
}

.Blog-about {}

.Comments-form-text {
  width: 100%;
  min-height: 6em;
}

.Comments {
  margin: 0;
  padding: 0;
}

.Comments-item {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 3.5em;

  span {
    display: inline-block;
  }

  .Comments-item-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 10px;
  }

  .Comments-item-date {
    margin-left: 60px;
    font-size: 80%;
  }

  .Comments-item-username {
    font-size: 80%;
  }

  .Comments-item-body {
    margin-left: 60px;
    top: 20px;
    font-size: 80%;
  }
}

.Header {
  padding: 1em 2em .5em 2em;
  line-height: 1em;

  .Header-title {
    .u-clickable {
      border: none;
    }
  }
}

.Header-title {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  line-height: 1.3em;
  vertical-align: middle;
}

.Header-search {
  position: absolute;
  right: 2rem;
  max-width: 30%;
  font-size: 1.4rem;

  input[type="text"] {
    background-color: var(--ltgold);
    border: 1px dotted var(--ltgold);
    line-height: 1.33em;
    width: 85%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: .25rem .5rem;
  }

  input[type="submit"] {
    width: 15%;
    padding: 0 .25rem .7rem .25rem;
    background-color: var(--black);
    border: 1px dotted var(--ltgold);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.Footer {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Footer-form {}

.Footer-form-button {
  background: none;
  border: none;
  font-size: 1em;
}

.Box {
  width: 100%;
  padding: .5rem;
}

.Box::after {
  content: "";
  display: block;
  margin-top: .5rem;
  height: 1px
}

.Box-title {
  margin-bottom: .25rem;
  font-size: 1em
}

@media only screen and (max-width : 414px) {
  .not-for-small-screen {
    display: none;
  }
}

@media only screen
  and (min-width : 76.8em) and (max-width : 1024px) {

  .Blog-list-date {
    font-size: 1.75rem;
  }

  .Header {
    padding: .75rem 1rem .5rem 2rem;
  }

  .Header-title, .Header--cozy .Header-title {
    font-size: 1.3em;
    line-height: 1em;
  }
}


@media only screen and (min-width : 1024px) {

  .Blog-body {
    padding: 0;
  }
  .Blog-body.Blog-body--two-col {
    flex-direction: row;
    flex: 1;
  }

  .Blog-content {
    margin: 0;
    padding-top: 2rem;
    padding-right: 18rem;
    padding-bottom: 6rem;
    padding-left: 14.5rem;
  }
  .Blog-content--two-col {
    min-width: 70%;
    padding-left: 3rem;
    order: 1;
  }

  .Blog-nav {
    padding-right: 2rem;
    padding-left: 15rem;
    padding-top: 3.25rem;
  }
  .Blog-nav--two-col, .Blog-aside--two-col {
    /* 30% is the width of the columns */
    flex: 0 0 30%;
  }
  .Blog-nav--two-col {
    /* put the nav on the right */
    order: 0;
  }
  .Blog-nav--two-col.Blog-nav {
    background-color: var(--offwhite);
  }

  .Blog-list-date {
    font-size: 1.5rem;
    width: 20%;
  }
  .Blog-list-link {
    margin-left: 20%;
  }

  .Header {
    padding: 1rem 1rem .5rem 4rem;
  }

  .Header--cozy, .Header--cozy .Header-titles {
    display: flex;
  }

  .Header--cozy {
    align-items: center;
  }

  .Header-title, .Header--cozy .Header-title {
    font-size: 1em;
    margin-left: 10.5rem;
  }
}
